@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Add these styles to your CSS file or a CSS module */

.slick-prev,
.slick-next {
    color: #007bff;
    /* Change this to your desired arrow color */
}


/* Optional: Add hover effect */

.slick-prev:hover,
.slick-next:hover {
    color: #0056b3;
    /* Change this to your desired hover color */
}


/* If you need to customize the size */

.slick-prev:before,
.slick-next:before {
    font-size: 24px;
    /* Adjust the size as needed */
}