@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css or another global stylesheet */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Jost", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mui-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    left: auto;
}

.carousel-container {
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
}

.half-filled-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    /* Background color for the empty part */
    position: relative;
    overflow: hidden;
}

.half-filled-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4caf50;
    /* Fill color */
    clip-path: inset(0 50% 0 0);
}

.clip-half {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.custom-calendar {
    background-color: white;
    border: none;
}

.custom-calendar .react-datepicker__header {
    background-color: white;
    border-bottom: none;
}

.custom-calendar .react-datepicker__day {
    background-color: white;
    color: black;
    border-radius: 50%;
}

.custom-calendar .react-datepicker__day:hover {
    background-color: #e4d724;
    border-radius: 50%;
}

.custom-calendar .react-datepicker__day--selected {
    background-color: #a57b08c5;
    border-radius: 50%;
}

.custom-calendar .react-datepicker__day--keyboard-selected {
    background-color: #eeb518;
    border-radius: 50%;
}

.custom-calendar .react-datepicker__day--outside-month {
    color: #bdb000;
}

.custom-calendar .react-datepicker__month-text {
    color: black;
}

.custom-calendar .react-datepicker__day-name {
    background-color: white;
    color: black;
}

.custom-calendar .react-datepicker__current-month {
    background-color: white;
    color: black;
}

.slick-slide>div {
    height: 100%;
}

.slick-list {
    padding: 0 !important;
}

.slick-slider {
    margin-right: 0 !important;
}

.slick-list {
    margin-right: 0 !important;
}

.slick-slide {
    padding: 0 !important;
    margin: 0 !important;
}

.overlay {
    pointer-events: none;
    /* Allow swiping through */
    z-index: 1;
    /* Ensure it's visible above the image */
}

.overlay-content {
    pointer-events: auto;
    /* Allow clicking on the "See More" button */
}